@model UserViewModel

@{
    ViewData["Title"] = "Изменить";
}

<h1>Изменить</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Role" class="control-label"></label>
                <select class="form-control selectpicker" asp-for="Role">
                    <option selected value=""></option>
                    <option value="@ViewBag.UserRole.Value">@ViewBag.UserRole.Title</option>
                    @foreach (var option in ViewBag.Roles)
                    {
                        <option value="@option.Value">@option.Title</option>
                    }
                </select>
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>
            <div class="form-group collapse show" id="collapse">
                <label asp-for="Sensors" class="control-label"></label>
                <div class="sensors-checkboxes-group">
                    @{
                        int i = 0;
                    }
                    <div class="form-group">
                        <div class="row">
                            <label class="form-label col-11">Все</label>
                            <input class="input-checkbox col-1" type="checkbox" id="checkAll" />
                        </div>
                    </div>
                    @foreach (var sensor in ViewBag.Sensors)
                    {
                        <div class="form-group">
                            <div class="row">
                                <label class="form-label col-11">@sensor.Name</label>
                                @if (Model.Sensors.Values.Contains(sensor.Id))
                                {
                                    <input class="input-checkbox col-1 sensor-checkbox" checked type="checkbox" name="Sensors[@i]" value="@sensor.Id" />
                                }
                                else
                                {
                                    <input class="input-checkbox col-1 sensor-checkbox" type="checkbox" name="Sensors[@i]" value="@sensor.Id" />
                                }
                            </div>
                        </div>
                        {
                            i++;
                        }
                    }
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
