@model IEnumerable<User>

@{
    ViewData["Title"] = "Пользователи";
}

<h1>Пользователи</h1>
<hr />

<p>
    <a asp-action="Create">Добавить нового</a>
</p>
<table class="table fixed-table">
    <thead>
        <tr>
            <th style="width: 60%;">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th style="width: 40%;"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <span class="text-truncate display-block">@Html.DisplayFor(modelItem => item.Name)</span>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Подробно</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
