@model IEnumerable<Sensor>

@{
    ViewData["Title"] = "Датчики";
}

<h1>Датчики</h1>
<hr />

<p>
    <a asp-action="Create">Добавить новый</a>
</p>
<table class="table fixed-table">
    <thead>
        <tr>
            <th style="width: 35%;">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th style="width: 25%;">
                @Html.DisplayNameFor(model => model.Uri)
            </th>
            <th style="width: 10%;">
                @Html.DisplayNameFor(model => model.LocationId)
            </th>
            <th style="width: 10%;">
                @Html.DisplayNameFor(model => model.WasDisabled)
            <th style="width: 20%;"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <span class="text-truncate display-block">@Html.DisplayFor(modelItem => item.Name)</span>
                </td>
                <td>
                    <span class="text-truncate display-block">@Html.DisplayFor(modelItem => item.Uri)</span>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LocationId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WasDisabled)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Подробно</a> |
                    @if (item.WasDisabled)
                    {
                        <a asp-action="Enable" asp-route-id="@item.Id">Включить</a>
                    }
                    else
                    {
                        <a asp-action="Disable" asp-route-id="@item.Id">Отключить</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
