@model IEnumerable<TemperatureViewer.Models.Measurement>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["TimeSortParm"]">@Html.DisplayNameFor(model => model.MeasurementTime)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["TemperatureSortParm"]">@Html.DisplayNameFor(model => model.Temperature)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sensor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MeasurementTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Temperature)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sensor.Id)
            </td>
            <td>
                <label class="control-label"></label>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
