@model IEnumerable<Observer>

@{
    ViewData["Title"] = "Наблюдатели";
}

<h1>Наблюдатели</h1>
<hr />

<p>
    <a asp-action="Create">Создать нового</a>
</p>
<table class="table fixed-table">
    <thead>
        <tr>
            <th style="width: 70%">
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th style="width: 30%"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <span class="text-truncate display-block">@Html.DisplayFor(modelItem => item.Email)</span>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Подробно</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
