@model IEnumerable<SensorHistoryViewModel>
@{
    ViewData["Title"] = "История";
}

<div class="mb-4">
    <h1>История измерений</h1>
    <hr />    
</div>

<div class="row">
    <div class="col-2">
        Выбрать период
    </div>
    <div class="col-2">
        <input id="date-from" class="form-control" type="date" />
    </div>
    <div class="col-2">
        <input id="date-to" class="form-control" type="date" />
    </div>
    <div class="col-2">
        <button id="apply-period" class="form-control btn-primary">Применить</button>
    </div>
    <div class="col-2">
        <button id="download-data" class="form-control btn-primary">Скачать</button>
    </div>
</div>
<div class="container mt-5">
    @if (ViewBag.allSensors)
    {
        <div class="row">
            <div class="col-2">
                <button id="toggleAll" class="form-control btn-secondary">Скрыть все</button>
            </div>
        </div>
    }
    <canvas id="chart" height="630" width="1000"></canvas>
</div>
<script>
    var modelJson = @Json.Serialize(Model);
    var bagValueFrom = @Json.Serialize(ViewBag.from);
    var bagValueTo = @Json.Serialize(ViewBag.to);
    var measurementTimes = @Json.Serialize(ViewBag.measurementTimes);
    var locationId = @Json.Serialize(ViewBag.locationId);
    var id = @Json.Serialize(ViewBag.id);
</script>

@section Scripts {
    <script src="~/lib/chart/dist/chart.min.js"></script>
    <script src="~/js/history.js" asp-append-version="true"></script>
}