@model IEnumerable<MeasurementViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="list-group">
    @foreach (var measurement in Model)
    {
        <div class="list-group-item therm-li">
            <div class="therm">
                <div class="row">
                    <div class="col-2">
                        <div><b><span class="temp-value">@measurement.Temperature</span>°</b></div>
                    </div>
                    <div class="col-10">
                        <div class="therm-name"><a asp-controller="Home" asp-action="History" asp-route-id="@measurement.SensorId">@measurement.SensorName</a></div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<script>
    var bluePoint = @Json.Serialize(ViewBag.bluePoint);
    var cyanPoint = @Json.Serialize(ViewBag.cyanPoint);
    var yellowPoint = @Json.Serialize(ViewBag.yellowPoint);
    var redPoint = @Json.Serialize(ViewBag.redPoint);
</script>

@section Scripts {
    <script src="~/js/index.js" asp-append-version="true"></script>
}