@model IEnumerable<TemperatureViewer.Models.ViewModels.LocationViewModel>

@{
    ViewData["Title"] = "View";
}

<div class="container">
    @foreach (var item in Model)
    {
        <div class="row p-2 bg-white border rounded">
            <div class="col-md-4 mt-1"><img class="img-fluid img-responsive rounded product-image img-clickable" src="~/img/@(item.Image)" /></div>
            <div class="col-md-8 mt-1">
                <h5>@item.Name</h5>
                <div class="row no-gutters">
                    @foreach (var measurement in item.Measurements)
                    {
                        <div class="therm col-3 col-md-2 m-1 d-flex justify-content-center">
                            <div><b><span class="temp-value">@measurement.Temperature</span>°</b></div>
                            <!--Storing information about thresholds for measurement-->
                            <span class="p1" hidden>@measurement.Thresholds[0]</span>
                            <span class="p2" hidden>@measurement.Thresholds[1]</span>
                            <span class="p3" hidden>@measurement.Thresholds[2]</span>
                            <span class="p4" hidden>@measurement.Thresholds[3]</span>
                        </div>
                    }
                </div>
                <div class="d-flex flex-row">
                    <h5>
                        <a asp-controller="Home" asp-action="ExtendedLocation" asp-route-id="@item.Id">Подробно</a>
                    </h5>
                </div>
                @*<div class="d-flex flex-row">
                    <a asp-controller="Home" asp-action="Index" asp-route-locationId="@item.Id">Показатели</a>
                </div>
                <div class="d-flex flex-row">
                    <a asp-controller="Home" asp-action="History" asp-route-locationId="@item.Id">История</a>
                </div>*@
            </div>
        </div>
    }
</div>
<div id="modal" class="modal">
    <span class="close">&times;</span>
    <img class="modal-content" id="modalImg" />
</div>

@section Scripts {
    <script src="~/js/locationsClickable.js" asp-append-version="true"></script>
    <script src="~/js/brightness.js"></script>
    <script src="~/js/locations.js" asp-append-version="true"></script>
}